# Dockerignore to prevent scanning and bundling large files
.git
.next
node_modules
*.sql
*.pdf
data_RedHat
data_Solaris
offline_bundle
public/favicon.ico

# Exclude test files
**/*.test.ts
**/*.test.tsx
**/__tests__
