# Database Configuration
MYSQL_DATABASE=sarlog
MYSQL_ROOT_PASSWORD=password
DATABASE_URL=mysql://root:password@mperf-db:3306/sarlog

# Authentication
NEXTAUTH_SECRET=y0ur_sup3r_s3cr3t_s3ssi0n_k3y
NEXTAUTH_URL=http://localhost:3000

# Infrastructure
SHM_SIZE=2gb
MEM_LIMIT=4g
MEM_RESERVATION=1g
REPLICAS=1
